html {
  scroll-behavior: smooth;
}
/* Loading Image */
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.large-image {
  padding: 50px 0px;
  margin-bottom: 50px;
}

.introduct {
  margin-top: 25%;
  margin-left: 30px;
}

.quotation {
  font-size: 180%;
}

.from,
.quotation {
  color: #bfbaba;
}

#edu {
  font-size: 150%;
}

.edu {
  position: relative;
  left: -700px;
  opacity: 0;
  transition: 0.5s;
}

#illustration {
  position: relative;
  top: 1000px;
  opacity: 0;
  transition: 0.5s;
}

#skillset,
#certif,
#edu,
#contact,
#project,
#work-exp {
  padding-top: 100px;
  margin-bottom: 100px;
}

.skill-thumb div {
  position: relative;
  top: 800px;
  opacity: 0;
  transition: 0.5s;
}

#certif {
  margin-top: 200px;
}

.carousel-control {
  transition: 0.3s;
}

.carousel-control:hover {
  background-color: #80808078;
}

.carousel-caption {
  background-color: #00000091;
}

.icon-control {
  color: black;
}

#contact .row {
  margin-bottom: 50px;
}

.contact-logo {
  max-height: 100px;
  transition: 0.3s;
  border-radius: 15px;
}

.contact-logo:hover {
  -webkit-box-shadow: -4px 6px 13px 1px rgba(87, 87, 87, 1);
  -moz-box-shadow: -4px 6px 13px 1px rgba(87, 87, 87, 1);
  box-shadow: -4px 6px 13px 1px rgba(87, 87, 87, 1);

  transform: translateY(-10px);
}

footer {
  height: 50px;
  background-color: #c8c8c8;
  padding: 10px;
}

.project-image {
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #0000006e;
  transition: 0.5s;
}

.visi-site {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 99;
  top: 30%;
  left: 43%;
  opacity: inherit;
}

.visi-site p {
  margin-top: 40%;
  font-weight: bold;
}

.overlay:hover {
  opacity: 1;
}

@media only screen and (min-width: 992px) {
  #navbarNavDropdown {
    position: absolute;
    right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .introduct {
    font-size: 150%;
    margin-top: 10%;
    margin-left: 0;
  }

  .edu {
    font-size: 70%;
  }

  .large-image {
    padding: 50px 50px;
    margin: 10px 0;
  }

  .quotation {
    font-size: 100%;
    padding: 0 10px 0 10px;
  }

  #skillset,
  #certif,
  #edu,
  #contact,
  #project {
    margin-top: 50px;
    padding-top: 0;
    margin-bottom: 50px;
  }

  #contact .row {
    margin-bottom: 10px;
  }

  h2 {
    font-size: 130%;
  }

  .contact-logo {
    max-height: 50px;
  }
}

@media only screen and (max-width: 992px) {
  .overlay {
    opacity: 1;
  }

  .visi-site {
    left: 40% !important;
  }
}
